*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    color: black;
    transition: 0.8s;
}

body{

}

.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

input{
    border: none; 
    border-bottom: 2px solid blue;
    outline: none;
    width: 100%;
}

label {
    padding-bottom: 0.4rem;
}

button {
    border: 2px solid blue;
    transition: 0.8s;
    cursor: pointer;
}

.button
{
    cursor: pointer;
}

.button:hover
{
    background: none;
    box-shadow: 0 1px 1px 0 blue inset, 0 1px 5px 0 blue,
                0 1px 1px 0 blue inset, 0 1px 5px 0 blue;
    text-shadow: 0 0 1px blue, 0 0 15px blue;
}
#btn-login {
    border-radius: 2rem;
}
/* ////////////////////////// LOADER CODE /////////////////////////// */

.lds-ring {
  display: none;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 60%;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ////////////////////// Input area ////////////////////////// */

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: 2px solid blue;
  background: blue;
  padding: 10px 20px;
  border-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: .8s;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

input[type=file]::file-selector-button:hover {
  /* background: #0d45a5; */
  background: white;
  color: blue;
}